.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  width: 500px;
  padding: 10px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: #fff;
}

.container__tabs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  gap: 10px;
  width: min-content;
  background-color: #0000fe;
  border-radius: 7.5px 0 0 7.5px;
}

.container__tabs__title {
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.container__tabs__tab {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;

  gap: 7.5px;
  width: 100%;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid red;
}

.container__tabs__tab:active {
  background-color: #4865ee;
}

.container__tabs__tab__icon {
  width: 17.5px;
  height: 17.5px;
  color: white;
}

.container__tabs__tab__name {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.container__view {
  width: 100%;
  padding: 10px;
  background-color: #e4ebf3;
  border-radius: 0 7.5px 7.5px 0;
}

.container__view__title {
  width: 100%;
  font-size: 22px;
  color: #1c2229;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.container__view--hidden {
  display: none;
}
